
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
  }
  
  .title {
    text-align: start;
    margin-top: 20px;
    margin-left: 20px;
    color: #f1f1f1;
    background-color: #181818;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
    background-color: #181818;
    text-align: justify;
    
  }
  
  .card {
    width: 400px;
    height: 250px;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s;
  }

  .card:p1{
    font-size: 1px;
  }
  .card:hover {
    transform: scale(1.05);
  }

  a {
    text-decoration: none;
    color: #181818; /* Set the color you want for the links */
  }
  
  a:hover {
    text-decoration: underline; /* Underline on hover if desired */
    color: #181818; /* Change color on hover if needed */
  }
  
  
  